@import '../../../styles/scss/layout/mixines';

.Container{
    width: 2em;
    @include responsive(desktop){
        display: none;
    }
}

.Icon{
    width: 2em;
    height: 2em;
    border: 1px solid ;
    border-radius: .2em;
    cursor: pointer;
}