@import '../../../styles/scss/layout/breakpoints';
@import '../../../styles/scss/base/colors';

.Container {
	background-color: $bgColorTransparent-2;
	position: absolute;
	top: 5em;
	height: 100vh;
	width: 100vw;
	transform: translateY(0);
	transition: transform 0.3s ease-in-out;
	@include responsive(desktop) {
		display: none;
	}
}

.Icon {
	display: flex;
	justify-content: flex-end;
}

.dNone {
	position: absolute;
	transform: translateY(-30em);
	height: 100vh;
	width: 100vw;
	transition: transform 0.5s ease-in-out;
	animation: slideDownAnimation 0.5s ease-in-out;
}

@keyframes slideDownAnimation {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-7.5em); // Disminuir a -30em / 4
	}
	50% {
		transform: translateY(-15em); // Disminuir a -30em / 2
	}
	100% {
		transform: translateY(-30em); // Disminuir a -30em
	}
}
