.Container{
    position: fixed;
    top: 0;
    right: 0;
    background-color: red;
    height: 100%;
    width: 20em;
}

.Icon{
    display: flex;
    justify-content: flex-end;
    margin: 2em 2em 0 2em;
}