.videoBackground {
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	filter: brightness(0.7);
}

/* Establecer altura diferente para dispositivos móviles */
@media (max-width: 768px) {
	.videoBackground {
		height: 100%;
	}
}

.ImgBackgorund {
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	filter: brightness(0.1);
}
