@import '../../styles/scss/layout/breakpoints';

.Container{
    @include responsive (desktop){
        display: flex;
        flex-direction: row;
        background-color: red;
    }
}

.Profile{
    aspect-ratio: 1/1;
    border: 1px solid black;
    max-width: 15em;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.Title{
    font-weight: 800;
    font-size: 2rem;
    line-height: 1em;
    max-width: 10em;
    text-align: center;
    margin: 0 auto;
    @include responsive (desktop){
        font-size: 2.5rem;
    }
}

.Wrapper{
    display: grid;
    gap: 1em;
    max-width: 30em;
    margin: 0 auto;
    @include responsive (desktop){
        width: 50%;
    }
}

.ContainerProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    @include responsive (desktop){
        width: 50%;
    }
}