@import '../../styles/scss/layout/breakpoints';

.Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    position: relative;
    height: 5em;
}

.Img{
    width: 10em;
}

.LinksDesktop{
    display: none;
    @include responsive(desktop){
        display: flex;
        width: 100%;
    }
}
