@import '../../../styles/scss/base/colors';
@import '../../../styles/scss/base/variables';
@import '../../../styles/scss/layout/breakpoints';
@import '../../../styles/scss/layout/layout';

.Wrapper{
    background-color: $bgColorTransparent-2;
    display: grid;
    gap: 1em;
    max-width: 30em;
    margin: 0 auto;
    @include animatedBoxLineShadow;
    @include generalPaddingMobile;
    @include borderRadius;
    @include responsive (desktop){
        width: 50%;
        @include generalPaddingDesktop;
    }
}

.Description{
    text-indent: 2rem;
}