// Paleta de colores
$text-color: #FFFAFF;
$bgColor-1: #260120;
$bgColorTransparent-2: rgba(2, 0, 2, 0.8);
$color-secundario: #73026B;
$color-terciario: #A303A6;
$color-destacado: #C004D9;
$color-cuarto: #118EBF;
$color-quinto: #F2E750;
$color-sexto: #F2A03D;