$bg-color: #f5f5f5;
$bg-gray: rgb(221, 219, 219);
$bg-gray-Opacity: rgba(221, 219, 219, 0.5);
$bg-darkGreen: #1e3a2a;
$bg-footer: #2d2d2d;

$text-color: #000000;
$text-white: #ffffff;
$text-gray: #8f8f8f;

$btn-lightYellow: #e9e579;
$green: #3dc27d;
