// Paleta de colores
$text-color: #fffaff;
$bgColor-1: #260120;
$bgColorTransparent-2: rgba(2, 0, 2, 0.8);
$color-secundario: #73026b;
$color-terciario: #a303a6;
$color-destacado: #c004d9;
$color-cuarto: #118ebf;
$color-quinto: #f2e750;
$color-sexto: #f2a03d;
