@import "../../styles/scss/layout/responsive";

.Mobile{
    @include responsive(tablet){
        display: none;
    }
}
.Desktop{
    display: none;
    @include responsive(tablet){
        display: block;
    }
}